@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);
@import 'https://fonts.googleapis.com/css?family=Secular+One';

* {
    font-family: 'Open Sans', sans-serif;
    margin:0px;
    border: 0px;
    padding:0px;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}

::-webkit-scrollbar
{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}


.footer {
    position: relative;
    width:100%;
    height: 50px;
    background-color: rgb(188,189,192);
    bottom: 0px;
    padding: 15px;
}

.footer p {
    font-weight: 300;
}

.footer span {
    font-weight: 400;
}

.header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: white;
    padding: 20px;
}

.header_content {
    position: relative;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;
}

.cddl_logo {
    height: 40px;

}

.header_content_buttons {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.header_content_buttons ul {
    float: right;
    margin: 0px;
    margin-left: 40px;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
}

.mybtn:hover {
    cursor: pointer !important;
    opacity: 0.6 !important;
}

.middle {
    position: absolute;
    top: 0px;
    bottom:0px;
    width:100%;
    z-index: -1;
    background: url(../img/Photo_riyadh_business_wire.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0% 70%;
}

.middle_content {
    max-width: 994px;
    width: 77%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.middle_content_bg {
    font-size: 51px;
    font-family: 'Secular One', sans-serif;
    font-weight: bold;
}

.middle_content_right {
    float:right;
    border-top: 1px solid white;
}

.middle_content_left {
    font-size: 24px;
}

.middle_content_md {
    background: url(../img/icon_down_stroke.png);
    background-size: contain;
    /* margin: 0 auto; */
    /* margin-top: 60px; */
    position: absolute;
    left: 50%;
    bottom: 0%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transform: translateX(-50%);
}

.middle_content_md {

}

.middle_credit {
    position: absolute;
    bottom: 10px;
    color: white;
    right: 10px;
    font-size: 10px;
}

.selected_btn {
    color:rgba(245, 118, 0, 1) !important;
}

.course_photo {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgb(188,189,192);
    color: white;
    
}

.marked p {
    color: white;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 26px;
    
}

.texts {
    font-weight: 300;
    font-size: 18px;
}

.texts_team {
    font-weight: 300;
    font-size: 16px;

}

.texts i {
    opacity: 0.7;
}

.content_block {
    margin-left: 10px !important;
    margin-top: 20px !important;
    margin-right: 10px !important;
    margin-bottom: 70px;
}

.content_block_sub {
    margin-left: 0px !important;
    margin-top: 20px !important;
    margin-right: 0px !important;
    margin-bottom: 20px;
}

.content_sm_block {
    margin-left: 10px !important;
    margin-top: 0px !important;
    margin-right: 10px !important;
    margin-bottom: 0px;
}

.content_col {
    position: relative;
}

.big_title {
    font-size: 28px;
    font-weight: 700;
}

.sm_title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;
    color:rgb(109,110,112);
}

.hori_line {
    width: calc(100% - 50px);
    margin-left: 25px;
    position: relative;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.hori_line_sm {
    width: 100%;
    position: relative;
    border-top: 1px solid rgba(0,0,0,0.2);

}

.project_icon {
    position: relative;
    padding:0px;
    cursor: pointer;
}


.content_project {
    width:100% !important;
    margin-right: 0px !important;
    margin-left: 0px !important;

}

.avator {
    width:300px;
    height: 300px;
    background-color: rgb(188,189,192);
    float:right;
}

.texts_title {
    font-size: 30px;
}

.content_block_team {
    margin-left: 10px !important;
    margin-top: 20px !important;
    margin-right: 10px !important;
    margin-bottom: 20px;

}

#project_1 {
    background: url(../img/project_1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#project_2 {
    background: url(../img/project_2.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#project_3 {
    background: url(../img/project_3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#project_4 {
    background: url(../img/project_4.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#project_5 {
    background: url(../img/project_5.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
#project_6 {
    background: url(../img/project_6.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.project_info {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(188,189,192,0.8);
    //background-color: rgba(255, 189, 128, 0.8);
    left: 0px;
    padding:15px;
    opacity:0;
}

.project_title {
    font-size: 30px;
}

.project_team {
    font-weight: 300;
    font-size: 18px;
}

.project_team span {
    font-weight: 400;
}

.project_cover {
    position: absolute;
    left: 0px;
    right:0px;
    top:0px;
    bottom:0px;
    background-color: rgba(255,255,255,0.5);
    opacity: 0;
}

.notation {
    font-size: 10px;
    color: rgba(0,0,0,0.6);
    margin-bottom: -5px;
}

.page_icon {
    width:220px;
}

.sm_icon {
    width:50px;
}

.project_mount {
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    background: #FCFCFC;
}

.mount_go_back {
    position: absolute;
    left: 20px;
}

.mount_btn {
    color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    top: 8px;
}

.mount_btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color:WHITE;
    cursor: pointer;
}

.mount_btn p {
    margin:0px !important;
}


.mount_info {
    position: absolute;
    left: 105px;
}

.mount_window {
    position: absolute;
    top: 50px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
    background-color: white;
}

.info_window {
    position: absolute;
    width: 60%;
    background-color: white;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.15);
    color: #484848;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFF;
    padding:20px;
    padding-bottom: 30px;
}

.outer_info_window {
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: rgba(255,255,255,0.9);
    z-index: 3;

}

.toclose {
    position: absolute;
    right: 20px;
    top:20px;
    width:30px;
    height:30px;
    cursor: pointer;

}

#fosterimg {
    background: url(../img/foster.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#swimg {
    background: url(../img/williams.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#carlosimg {
    background: url(../img/carlos.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}